<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587456818790-j76l7i59fi79iqr395kqa5qsedlpa1ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587456818790-j76l7i59fi79iqr395kqa5qsedlpa1ns</string>
	<key>API_KEY</key>
	<string>AIzaSyD5KrpMMqhm3xjs8a8Co4d69uH_MH8QTOw</string>
	<key>GCM_SENDER_ID</key>
	<string>587456818790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexcode.tuffy2020</string>
	<key>PROJECT_ID</key>
	<string>tuffy2021-e5539</string>
	<key>STORAGE_BUCKET</key>
	<string>tuffy2021-e5539.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587456818790:ios:ea81c34fc6598b9a3f47a7</string>
</dict>
</plist>